<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Movie Review | Review</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="style.css">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
	<![endif]-->

</head>


<body>


	<div id="site-content">
		<header class="site-header">
			<div class="container">
				<a href="/" id="branding">
					<img src="images/logo.png" alt="" class="logo">
					<div class="logo-copy">
						<h1 class="site-title">Moviz</h1>
						<small class="site-description">Manage your best movies</small>
					</div>
				</a> <!-- #branding -->

				<div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item  current-menu-item"><a href="/">Last releases</a></li>
						<li class="menu-item"><a href="review">My movies</a></li>
						<li class="menu-item"><a href="contact">Contact</a></li>
							<!--
							<li class="menu-item"><a href="signup.ejs">Sign up</a></li>
							<li class="menu-item"><a href="signin.ejs">Sign in</a></li>
							<li class="menu-item"><a href="signout.ejs">Sign out</a></li>
						-->
					</ul> <!-- .menu -->

					<form action="/search" class="search-form">
						<input class="active" id="search" placeholder="Search..." type="text" name="movieSearch">
						<button><i class="fa fa-search"></i></button>
					</form> <!-- .menu -->


				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>
			</div>
		</header>
		<main class="main-content">
			<div class="container">
				<div class="page">

					<div class="movie-list">
						<% for(var i=0; i<movies.results.length; i++) { %>
						<div class="movie">
							<a href="/single?&movie_id=<%=movies.results[i].id%>">
								<figure class="movie-poster">
									<img src="https://image.tmdb.org/t/p/w500/<%=movies.results[i].poster_path%>" alt="">
								</figure>
							</a>
							<div class="movie-title"><%=movies.results[i].title%>
								<% var heart = "fa fa-heart-o" ; %>
								<%for (var j= 0; j<likedmovies.length; j++) {
									if(likedmovies[j].title == movies.results[i].original_title) {
										heart = "fa fa-heart";
									}
								}%>

								<a class="like" href="/like?&movie_id=<%=movies.results[i].id%>">
									<i class="<%=heart%>" aria-hidden="true"></i>
								</a>

							</div>
							<div class="movie-shopping">5€<i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
							<p class="movie-synopsis"><%=movies.results[i].overview%></p>
						</div>
						<% } %>


					</div> <!-- .movie-list -->

				</div>
			</div> <!-- .container -->
		</main>

	</div>
	<!-- Default snippet for navigation -->


	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>
	<script src="js/main.js"></script>

</body>

</html>
