<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Movie Review | Home</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="style.css">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
	<![endif]-->

</head>


<body>


	<div id="site-content">

		<%- include("partials/header.ejs"); %>
		<!-- HEADER -->

		<main class="main-content">
			<div class="container">
				<div class="page">

					<div class="movie-list">
						<!-- on boucle sur chaque film retourné par le webservice  en mode "discover"-->
						<% if(isUserLog == true) {
							for(var i=0; i<movies.results.length; i++) { %>
							<div class="movie">
								<a href="/single?&movieID=<%=movies.results[i].id%>">
									<figure class="movie-poster">
										<img src="https://image.tmdb.org/t/p/w500/<%=movies.results[i].poster_path%>" alt="">
									</figure>
								</a>
								<div class="movie-title"><%=movies.results[i].title%>
									<!-- pour chaque film , on boucle sur les films dans le DB pour vérifier si ils existent" -->
									<% var isLike = false; %>
									<% for (var j= 0; j<likedmovies.length; j++) {
										if(likedmovies[j].movieID == movies.results[i].id) {
											isLike = true;
										}
									} %>

									<% if (isLike == true) { %>
									<a class="like" href="/unlike?&movieID=<%=movies.results[i].id%>">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>
									<% } else { %>

									<a class="like" href="/like?&movieID=<%=movies.results[i].id%>">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
									<%}%>

								</div>
								<div class="movie-shopping">5€<i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
								<p class="movie-synopsis"><%=movies.results[i].overview%></p>
							</div>
							<% }

							// si le user n'est pas loggé :
						} else if (isUserLog == false || isUserLog == undefined) {

							for(var i=0; i<movies.results.length; i++) { %>
							<div class="movie">
							<a href="/single?&movieID=<%=movies.results[i].id%>">
								<figure class="movie-poster">
									<img src="https://image.tmdb.org/t/p/w500/<%=movies.results[i].poster_path%>" alt="">
								</figure>
							</a>
							<div class="movie-title"><%=movies.results[i].title%>

								<!-- le bouton like renvoie vers le signin -->
								<a class="like pleaseLog" href="/signup">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</a>


							</div>
							<div class="movie-shopping">5€<i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
							<p class="movie-synopsis"><%=movies.results[i].overview%></p>
						</div>
						<% }
					}%>





				</div> <!-- .movie-list -->

			</div>
		</div> <!-- .container -->
	</main>

</div>
<!-- Default snippet for navigation -->


<%- include("partials/jslibs.ejs"); %>

</body>

</html>
